__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
.coverage.*
.tox/
.venv/
*.egg-info/
docker/config/.storage/
docker/config/*.db*
docker/config/*.log*
docker/config/.cloud
docker/config/.uuid
docker/config/.ha_run.lock
docker/config/deps/
docker/config/tts/
docker/config/custom_components/
docker/config/www/
docker/config/secrets.yaml
